---
import Layout from '../../layouts/Layout.astro';
import FormNL from '../../components/form_nl';
import Language from '../../components/Language.astro';
---

<Language currentLang="nl" />
<Layout>
  <div class="line">
    <h1 class="names">
      <span>Josefin Nilsson</span>
      <span>&amp;</span>
      <span>Oscar Baart</span>
    </h1>
    <div class="desktop-title"><h2>19 september 2026 | Stockholm</h2></div>
    <div class="mobile-title"><h2>19 september 2026</h2><h2>Stockholm</h2></div>
  </div>
</Layout>

<div class="line">
  <div class="content">
    <h2>Welkom op onze bruiloft!</h2>
    <p>
     Wij gaan op 19 september om 14.00 uur trouwen in de Hedvig Eleonora-kerk in Stockholm.
    Na de ceremonie genieten we van een diner en feest bij Ekensdal in Nacka, waar we per boot vanuit Nybrokajen naartoe varen.
    </p></br>
    <p>Zouden jullie tijdens het diner een toespraak willen houden of iets anders leuks willen doen?
      Neem dan contact op met onze toastmasters Isabella & Jesper via TODO.
</p>
  </div>
</div>
<div class="line">
  <h2>Kennisgeving</h2>
  <FormNL client:load />
</div>
<div class="line">
  <div class="content">
    <h3>Dresscode</h3>
    <p>Donker pak</p>
    <h3>Vervoer naar de kerk</h3>
    <p>
      Met de metro: Östermalmstorg (rode lijn).
       Met de bus: een van de haltes Östermalmstorg, Stureplan of Nybroplan.
      </p> 
    <h3>Transport naar de feestlocatie</h3>
    <p>
      Het diner en feest worden gehouden bij <b>Ekendal</b>, gelegen aan Skurusundsvägen 151 in Nacka.
      Na de bruiloft gaan we gezamenlijk van de kerk naar Nybrokajen, waar een boot op ons wacht om ons naar de feestlocatie te brengen.
    </p>
    <h3>Reis naar huis</h3>
    <p>
     Vervoer vanaf de feestlocatie gebeurt op eigen gelegenheid en gaat het makkelijkst met een taxi of met bus 409 of 449 vanaf de halte <b>Kungshamn</b>.
    </p>

    <h3>Kinderen</h3>
    <p>Alle kinderen die nog te jong zijn voor een oppas zijn van harte welkom.</p>

    <h3>Vragen?</h3>
    <p>
      Onze toastmasters Isabella & Jesper beantwoorden graag al jullie vragen; jullie kunnen hen bereiken op TODO.
    </p>
  </div>
</div>
