---
import Layout from '../../layouts/Layout.astro';
import Form from '../../components/form';
import Language from '../../components/Language.astro';
---

<Language currentLang="sv" />
<Layout>
  <div class="line">
    <h1>Josefin Nilsson & Oscar Baart</h1>
    <div class="desktop-title"><h2>19 september 2026 | Stockholm</h2></div>
    <div class="mobile-title"><h2>19 september 2026</h2><h2>Stockholm</h2></div>
  </div>
</Layout>

<div class="line">
  <h2>Bröllopsdagen</h2>
  <div class="content">
    <p>
      Välkomna till vårt bröllop den 19 september! Vi gifter oss klockan 14.00 i
      Hedvig Eleonora kyrka vid Östermalmstorg i Stockholm. Efter vigseln väntar
      middag och fest på Ekensdal i Nacka dit vi gemensamt färdas med båt från
      Nybrokajen. Önskar ni att hålla tal eller något annat kul under middagen
      kan ni kontakta våra toastmasters Isabella & Jesper på TODO.
    </p>
  </div>
</div>
<div class="line">
  <h2>Anmälan</h2>
  <Form client:load />
</div>
<div class="line">
  <div class="content">
    <h2>Övrig information</h2>
    <h3>Klädkod</h3>
    <p>Mörk kostym</p>
    <h3>Transport</h3>
    <p>
      Närmsta hållplatser för Hedvig Eleonora kyrka är Östermalmstorg med
      tunnelbanans röda linje eller buss till Östermalmstorg, Stureplan eler
      Nybroplan. Middagen och fester sker på Ekendal som ligger på
      Skurusundsvägen 151 i Nacka. Vi åker dit gemensamt med båt från Nybrokajen
      och transport hem sker enklast med taxi alternativt buss 409/449 från
      hållplatsen Kungshamn.
    </p>

    <h3>Barn</h3>
    <p>Alla barn som är för små för att ha barnvakt är hjärtligt välkomna.</p>

    <h3>Frågor?</h3>
    <p>
      Våra toastmasters Isabella & Jesper svarar gärna på era frågor, ni når dem
      på TODO.
    </p>
  </div>
</div>
