---
import { Astro } from 'astro';
---

<html lang="sv">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=/sv/" />
    <title>Omdirigerar...</title>
  </head>
  <body>
    <p>Om du inte automatiskt omdirigeras, <a href="/sv/">klicka här</a>.</p>
  </body>
</html>
